<a href="https://colab.research.google.com/github/vishurudratrainer/angularcode/blob/main/19June2025jpmc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#OOP
#Python is an OOP
#classes and object
#Python 3

In [1]:
a = 2
print(type(a))#Python 3 is more OOP as compared to Python

<class 'int'>

In [2]:
class Sample:
  #Constructor __init__
  #Any function which we create will always have self as first argument
  def __init__(self,n1,n2):
    self.n1=n1
    self.n2=n2
  def display(self):
    print("n1",self.n1,"n2",self.n2)

In [3]:
s1 = Sample(22,33)
s1.display()

n1 22 n2 33

In [6]:
s2 =Sample(10,20)
s2.display()
print(s2.n1)

n1 10 n2 20
10

In [10]:
class DefaultArgsClass:
  def __init__(self,n1=10,n2=0):
    self.n1=n1
    self.n2=n2
  def display(self):
    print("n1",self.n1,"n2",self.n2)

In [11]:
d1 = DefaultArgsClass(22)
d1.display()

n1 22 n2 0

In [12]:
d2 =DefaultArgsClass(22,33)
d2.display()

n1 22 n2 33

In [13]:
d3 = DefaultArgsClass()
d3.display()

n1 10 n2 0

In [14]:
d4 = DefaultArgsClass(n2=22)#Positional argument respect position. We can use parameter nam as a way to avoid position
d4.display()
#Keyword arguments respect name of param
#Positional argument respect position

n1 10 n2 22

In [15]:
class DefaultArgsClass1:
  def __init__(self,n1,n2=0):
    self.n1=n1
    self.n2=n2
  def display(self):
    print("n1",self.n1,"n2",self.n2)

In [16]:
d1 = DefaultArgsClass1(n2=10)
d1.display()

TypeError: DefaultArgsClass1.__init__() missing 1 required positional argument: 'n1'

In [17]:
d1 = DefaultArgsClass(22)
d1.display()

n1 22 n2 0

In [18]:
d1.n3=34
print(d1.n3)

34

In [19]:
class DefaultArgsClass3:
  def __init__(self,n1,n2):
    self.n1=n1
    self.n2=n2
  def display(self):
    print("n1",self.n1,"n2",self.n2)

In [20]:
d3=DefaultArgsClass3(n1=10,n2=20)
d3.display()

n1 10 n2 20

In [25]:
class Calculator:
  def __init__(self,n1,n2):
    self.n1=n1
    self.n2=n2
    self.res =0
  def add(self,n1,n2):
    self.res = n1+n2
  def sub(self):
    self.res = self.n1-self.n2
  def mul(self):
    self.res = self.n1*self.n2
  def div(self):
    self.res = self.n1/self.n2

In [26]:
c1 =Calculator(10,2)
c1.add(13,20)
print(c1.res)
c1.mul()
print(c1.res)

33
20

In [27]:
c1.__dict__

{'n1': 10, 'n2': 2, 'res': 20}

In [28]:
c1.__dict__.get("n1")

10

In [32]:
class WithoutSlotsEg:
  def __init__(self,a,b):
    self.a=a
    self.b=b

In [33]:
w1 =WithoutSlotsEg(10,20)
w1.c=45
print(w1.c)

45

In [29]:
class SlotsEg:
  __slots__=["a","b"] #restrict dynamic attributes
  def __init__(self,a,b):
    self.a=a
    self.b=b

In [30]:
s1 =SlotsEg(10,20)

In [31]:
s1.c=45

AttributeError: 'SlotsEg' object has no attribute 'c'

In [34]:
#Python PL which supports Inheritance
#Multiple Inheritance---Ambuguity

In [35]:
class Parent1:
  def __init__(self,p1):
    self.p1=p1
  def displayP1(self):
    print("p1 is",self.p1)

In [36]:
class Child1(Parent1):#Child is extending from Parent1
  def __init__(self,p1,c1):
    super().__init__(p1)#Call base class consturctor
    self.c1=c1
  def displayC1(self):
    print("c1 is",self.c1)

In [37]:
c1= Child1(22,33)

In [38]:
c1.displayP1()

p1 is 22

In [39]:
c1.displayC1()

c1 is 33

In [40]:
c1.p1

22

In [45]:
class Child2(Parent1):
  def __init__(self, p1,p2):
    Parent1.__init__(self,p1)
    self.p2 =p2
  def displayP2(self):
    print("p2 is",self.p2)
  def displayP1(self):
    return "Changed implementation "+ str(self.p1)

In [46]:
c2 = Child2(22,33)

In [47]:
c2.displayP1()

'Changed implementation 22'

In [48]:
c2.displayP2()

p2 is 33

In [53]:
class Parent2:
  def __init__(self,p1):
    self.p1=p1
  def display(self):
    print("p1 is",self.p1)
  def displayP1(self):
    print("p1 is",self.p1)

In [54]:
class Parent3:
  def __init__(self,p2):
    self.p2=p2
  def display(self):
    print("p2 is",self.p2)
  def displayP2(self):
    print("p2 is",self.p2)

In [63]:
class Child3(Parent3,Parent2):#Give importance Sequence of ineritance
  def __init__(self,p1,p2,c1):
    Parent2.__init__(self,p1)
    Parent3.__init__(self,p2)
    self.c1=c1

In [64]:
c3= Child3(22,33,44)
c3.display()

p2 is 33

In [57]:
c3.displayP1()

p1 is 22

In [58]:
c3.displayP2()

p2 is 33

In [77]:
class Stringified:
  def __init__(self,n1,n2):
    self.n1=n1
    self.n2=n2
  def __str__(self):#equivalent of .toString
    return "n1 is "+str(self.n1)+" n2 is "+str(self.n2)

In [78]:
s1=Stringified(10,20)

In [79]:
print(str(s1))

n1 is 10 n2 is 20

In [80]:
print(s1)

n1 is 10 n2 is 20

In [ ]:
#Operator overloading supported in python

In [81]:
class Complex:
  def __init__(self,real,img):
    self.real=real
    self.img=img

  def add(self,c2):
    r1 =self.real+c2.real
    i1=self.img+c2.img
    return Complex(r1,i1)
  def __str__(self) :
    return "Real "+str(self.real)+"+Imaginary"+str(self.img)

In [82]:
c1=Complex(10,20)

In [83]:
c2 =Complex(30,40)

In [84]:
c3 = c1.add(c2)
print(c3)

40+i60

In [85]:
type(c1)

__main__.Complex

In [90]:
class Complex:
  def __init__(self,real,img):
    self.real=real
    self.img=img

  def __add__(self,c2):
    r1 =self.real+c2.real
    i1=self.img+c2.img
    return Complex(r1,i1)
  def __str__(self) :
    return "Real "+str(self.real)+"+Imaginary"+str(self.img)

In [91]:
c1=Complex(10,20)
c2 =Complex(30,40)
c3 = c1 + c2
print(c3)

Real 40+Imaginary60

In [92]:
class Point:
  def __init__(self,x,y):
    self.x =x
    self.y=y
  def __str__(self):
    return "x "+str(self.x) +" y "+str(self.y)
  def __gt__(self,other):
    our =self.x *self.x +self.y*self.y
    compare=other.x *other.x+other.y*other.y
    return our > compare
  def __ge__(self,other):
    our =self.x *self.x +self.y*self.y
    compare=other.x *other.x+other.y*other.y
    return our > compare
  def __le__(self,other):
    our =self.x *self.x +self.y*self.y
    compare=other.x *other.x+other.y*other.y
    return our <= compare
  def __lt__(self,other):
    our =self.x *self.x +self.y*self.y
    compare=other.x *other.x+other.y*other.y
    return our < compare
  def __eq__(self,other):
    our =self.x *self.x +self.y*self.y
    compare=other.x *other.x+other.y*other.y
    return our == compare

In [93]:
p1 = Point(1,1)
p2 =Point(2,3)

In [94]:
print(p1 > p2)

False

In [95]:
print(p1==p2)

False

In [98]:
class CounterEg:
  counter =0 #Class level variable -shared between objects. They can be accessed using class name
  def __init__(self,n1):
    self.n1=n1 #Object level variable
    CounterEg.counter=CounterEg.counter+1

In [99]:
c1 = CounterEg(22)

In [100]:
c2 =CounterEg(10)

In [101]:
CounterEg.counter

2

In [102]:
#Python supports access specifier
#Strict in terms of implementation
#ways we can retrive private data
#More of an indicator
#Private __
#Protected _
#No _ Public

In [103]:
class PrivateEg:
  def __init__(self,p1):
    self.p1=p1
    self.__p2 =10 #private variable
  def __privateDisplay(self):#Private function
    print("p2",self.__p2)

In [104]:
p1 =PrivateEg(20)

In [105]:
p1.__dict__

{'p1': 20, '_PrivateEg__p2': 10}

In [106]:
p1.__p2

AttributeError: 'PrivateEg' object has no attribute '__p2'

In [107]:
p1._PrivateEg__p2

10

In [108]:
p1._PrivateEg__privateDisplay()

p2 10

In [109]:
#Meta programming

In [110]:
def outer():
  print("Inside outer function")
  def inner():
    print("Inside inner function")
  inner()

In [111]:
outer()

Inside outer function
Inside inner function

In [112]:
def outer():
  print("Inside outer function")
  def inner():
    print("Inside inner function")
  return inner

In [113]:
o1 = outer()

Inside outer function

In [114]:
o1()

Inside inner function

In [115]:
def outer(param1):
  print("outer function")
  def inner():
    print("inner function")
    print("Before calling param1")
    param1()
    print("After calling param1")
  return inner

In [116]:
def hello():
  print("Hello")

In [117]:
o1=outer(hello)

outer function

In [118]:
o1()

inner function
Before calling param1
Hello
After calling param1

In [119]:
def outer1(param1):
  print("outer function")
  def inner1():
    print("inner function")
    print("Before calling param1")
    param1()
    return True
  return inner1

In [120]:
o2=outer1(hello)

outer function

In [122]:
res=o2()

inner function
Before calling param1
Hello

In [123]:
res

True

In [124]:
def outer2(param1,param2):
  print("outer function")
  def inner2():
    print("inner function")
    print("Before calling param1")
    param1(param2)
    return True
  return inner2

In [125]:
def square(n):
  print(n*n)

In [126]:
o3=outer2(square,2)

outer function

In [127]:
o3()

inner function
Before calling param1
4

True

In [128]:
def outer3(param1):
  print("outer function")
  def inner2(param2):
    print("inner function")
    print("Before calling param1")
    param1(param2)
    return True
  return inner2

In [129]:
o3 =outer3(square)

outer function

In [131]:
res =o3(5)

inner function
Before calling param1
25

In [132]:
res

True

In [133]:
def outer(param1):
  print("outer function")
  def inner():
    print("inner function")
    print("Before calling param1")
    param1()
    return True
  return inner

In [134]:
@outer#outer(hello2)
def hello2():
  print("Hello")

outer function

In [136]:
print(hello2())

inner function
Before calling param1
Hello
True

In [ ]:
#Decorator --one function taking another function as argument and calling the inner one using ()

In [137]:
def outer3(param1):
  print("outer function")
  def inner():
    print("inner function")
    print("Before calling param1")
    param1()
    return True
  return inner

In [138]:
def outer4(param1):
  print("outer4 function")
  def inner():
    print("inner function in outer4")
    print("Before calling param1 in outer4")
    param1()
    return True
  return inner

In [139]:
@outer3
@outer4
def hello3():
  print("Hello")

outer4 function
outer function

In [140]:
hello3()

inner function
Before calling param1
inner function in outer4
Before calling param1 in outer4
Hello

True

In [141]:
def outer2(param1,param2):
  print("outer function")
  def inner2():
    print("inner function")
    print("Before calling param1")
    param1(param2)
    return True
  return inner2

In [142]:
o4 = outer2(square,2)

outer function

In [143]:
print(o4)

<function outer2.<locals>.inner2 at 0x7cb0cf06f4c0>

In [144]:
import csv

In [145]:
dataLst =[{"country":"IN","currency":"INR"},{"country":"US","currency":"USD"},{"country":"JP","currency":"YEN"}]

In [146]:
with open("dataLst.csv","w",newline='') as op:
  writer =csv.DictWriter(op,fieldnames=["country","currency"])
  writer.writeheader()
  writer.writerows(dataLst)

In [147]:
with open("dataLst.csv","r") as ip:
  dr = csv.DictReader(ip)
  for row in dr:
    print(row)

{'country': 'IN', 'currency': 'INR'}
{'country': 'US', 'currency': 'USD'}
{'country': 'JP', 'currency': 'YEN'}

In [148]:
from lxml import etree

In [150]:
country = etree.Element("country")
name = etree.Element("name")
name.text="India"
currency =etree.Element("currency")
currency.text="INR"
country.append(name)
country.append(currency)
print(etree.tostring(country,pretty_print=True).decode("utf-8"))

<country>
  <name>India</name>
  <currency>INR</currency>
</country>

In [151]:
xmlstring=(etree.tostring(country,pretty_print=True).decode("utf-8"))

In [152]:
with open("country.xml","w") as op:
  op.write(xmlstring)

In [154]:
with open("country.xml","r") as ip:
  tree =etree.parse(ip)
  root=tree.getroot()
  print(root.find("name").text)
  print(root.find("currency").text)

India
INR

In [155]:
continents =etree.Element("continents")
c1=etree.Element("continent")
c1.text="Asia"
c2=etree.Element("continent")
c2.text="Africa"
c3=etree.Element("continent")
c3.text="America"
continents.append(c1)
continents.append(c2)

print(etree.tostring(continents,pretty_print=True).decode("utf-8"))

<continents>
  <continent>Asia</continent>
  <continent>Africa</continent>
</continents>

In [156]:
import requests

In [157]:
cdData=requests.get("https://www.w3schools.com/xml/cd_catalog.xml")

In [158]:
with open("cd_catalog.xml","w") as op:
  op.write(cdData.text)

In [161]:
dataLst = []
columns=["TITLE",'ARTIST',"COUNTRY","COMPANY","PRICE","YEAR"]
with open("cd_catalog.xml",'r') as ip:
   tree=etree.parse(ip)
   root = tree.getroot()
   for cd in root.findall("CD"):
     cdDict={}
     for col in columns:
       cdDict[col]=cd.find(col).text
     dataLst.append(cdDict)
with open("cd.csv","w") as op:
  writer =csv.DictWriter(op,fieldnames=columns)
  writer.writeheader()
  writer.writerows(dataLst)

In [160]:
dataLst

[{'TITLE': 'Empire Burlesque',
  'ARTIST': 'Bob Dylan',
  'COUNTRY': 'USA',
  'COMPANY': 'Columbia',
  'PRICE': '10.90',
  'YEAR': '1985'},
 {'TITLE': 'Hide your heart',
  'ARTIST': 'Bonnie Tyler',
  'COUNTRY': 'UK',
  'COMPANY': 'CBS Records',
  'PRICE': '9.90',
  'YEAR': '1988'},
 {'TITLE': 'Greatest Hits',
  'ARTIST': 'Dolly Parton',
  'COUNTRY': 'USA',
  'COMPANY': 'RCA',
  'PRICE': '9.90',
  'YEAR': '1982'},
 {'TITLE': 'Still got the blues',
  'ARTIST': 'Gary Moore',
  'COUNTRY': 'UK',
  'COMPANY': 'Virgin records',
  'PRICE': '10.20',
  'YEAR': '1990'},
 {'TITLE': 'Eros',
  'ARTIST': 'Eros Ramazzotti',
  'COUNTRY': 'EU',
  'COMPANY': 'BMG',
  'PRICE': '9.90',
  'YEAR': '1997'},
 {'TITLE': 'One night only',
  'ARTIST': 'Bee Gees',
  'COUNTRY': 'UK',
  'COMPANY': 'Polydor',
  'PRICE': '10.90',
  'YEAR': '1998'},
 {'TITLE': 'Sylvias Mother',
  'ARTIST': 'Dr.Hook',
  'COUNTRY': 'UK',
  'COMPANY': 'CBS',
  'PRICE': '8.10',
  'YEAR': '1973'},
 {'TITLE': 'Maggie May',
  'ARTIST': 'Rod Stewart',
  'COUNTRY': 'UK',
  'COMPANY': 'Pickwick',
  'PRICE': '8.50',
  'YEAR': '1990'},
 {'TITLE': 'Romanza',
  'ARTIST': 'Andrea Bocelli',
  'COUNTRY': 'EU',
  'COMPANY': 'Polydor',
  'PRICE': '10.80',
  'YEAR': '1996'},
 {'TITLE': 'When a man loves a woman',
  'ARTIST': 'Percy Sledge',
  'COUNTRY': 'USA',
  'COMPANY': 'Atlantic',
  'PRICE': '8.70',
  'YEAR': '1987'},
 {'TITLE': 'Black angel',
  'ARTIST': 'Savage Rose',
  'COUNTRY': 'EU',
  'COMPANY': 'Mega',
  'PRICE': '10.90',
  'YEAR': '1995'},
 {'TITLE': '1999 Grammy Nominees',
  'ARTIST': 'Many',
  'COUNTRY': 'USA',
  'COMPANY': 'Grammy',
  'PRICE': '10.20',
  'YEAR': '1999'},
 {'TITLE': 'For the good times',
  'ARTIST': 'Kenny Rogers',
  'COUNTRY': 'UK',
  'COMPANY': 'Mucik Master',
  'PRICE': '8.70',
  'YEAR': '1995'},
 {'TITLE': 'Big Willie style',
  'ARTIST': 'Will Smith',
  'COUNTRY': 'USA',
  'COMPANY': 'Columbia',
  'PRICE': '9.90',
  'YEAR': '1997'},
 {'TITLE': 'Tupelo Honey',
  'ARTIST': 'Van Morrison',
  'COUNTRY': 'UK',
  'COMPANY': 'Polydor',
  'PRICE': '8.20',
  'YEAR': '1971'},
 {'TITLE': 'Soulsville',
  'ARTIST': 'Jorn Hoel',
  'COUNTRY': 'Norway',
  'COMPANY': 'WEA',
  'PRICE': '7.90',
  'YEAR': '1996'},
 {'TITLE': 'The very best of',
  'ARTIST': 'Cat Stevens',
  'COUNTRY': 'UK',
  'COMPANY': 'Island',
  'PRICE': '8.90',
  'YEAR': '1990'},
 {'TITLE': 'Stop',
  'ARTIST': 'Sam Brown',
  'COUNTRY': 'UK',
  'COMPANY': 'A and M',
  'PRICE': '8.90',
  'YEAR': '1988'},
 {'TITLE': 'Bridge of Spies',
  'ARTIST': "T'Pau",
  'COUNTRY': 'UK',
  'COMPANY': 'Siren',
  'PRICE': '7.90',
  'YEAR': '1987'},
 {'TITLE': 'Private Dancer',
  'ARTIST': 'Tina Turner',
  'COUNTRY': 'UK',
  'COMPANY': 'Capitol',
  'PRICE': '8.90',
  'YEAR': '1983'},
 {'TITLE': 'Midt om natten',
  'ARTIST': 'Kim Larsen',
  'COUNTRY': 'EU',
  'COMPANY': 'Medley',
  'PRICE': '7.80',
  'YEAR': '1983'},
 {'TITLE': 'Pavarotti Gala Concert',
  'ARTIST': 'Luciano Pavarotti',
  'COUNTRY': 'UK',
  'COMPANY': 'DECCA',
  'PRICE': '9.90',
  'YEAR': '1991'},
 {'TITLE': 'The dock of the bay',
  'ARTIST': 'Otis Redding',
  'COUNTRY': 'USA',
  'COMPANY': 'Stax Records',
  'PRICE': '7.90',
  'YEAR': '1968'},
 {'TITLE': 'Picture book',
  'ARTIST': 'Simply Red',
  'COUNTRY': 'EU',
  'COMPANY': 'Elektra',
  'PRICE': '7.20',
  'YEAR': '1985'},
 {'TITLE': 'Red',
  'ARTIST': 'The Communards',
  'COUNTRY': 'UK',
  'COMPANY': 'London',
  'PRICE': '7.80',
  'YEAR': '1987'},
 {'TITLE': 'Unchain my heart',
  'ARTIST': 'Joe Cocker',
  'COUNTRY': 'USA',
  'COMPANY': 'EMI',
  'PRICE': '8.20',
  'YEAR': '1987'}]

In [162]:
import json

In [163]:
with open("cd.json","w") as op:
  json.dump(dataLst,op)

In [164]:
with open("cd.json","r") as ip:
  data =json.load(ip)
  print(data)

[{'TITLE': 'Empire Burlesque', 'ARTIST': 'Bob Dylan', 'COUNTRY': 'USA', 'COMPANY': 'Columbia', 'PRICE': '10.90', 'YEAR': '1985'}, {'TITLE': 'Hide your heart', 'ARTIST': 'Bonnie Tyler', 'COUNTRY': 'UK', 'COMPANY': 'CBS Records', 'PRICE': '9.90', 'YEAR': '1988'}, {'TITLE': 'Greatest Hits', 'ARTIST': 'Dolly Parton', 'COUNTRY': 'USA', 'COMPANY': 'RCA', 'PRICE': '9.90', 'YEAR': '1982'}, {'TITLE': 'Still got the blues', 'ARTIST': 'Gary Moore', 'COUNTRY': 'UK', 'COMPANY': 'Virgin records', 'PRICE': '10.20', 'YEAR': '1990'}, {'TITLE': 'Eros', 'ARTIST': 'Eros Ramazzotti', 'COUNTRY': 'EU', 'COMPANY': 'BMG', 'PRICE': '9.90', 'YEAR': '1997'}, {'TITLE': 'One night only', 'ARTIST': 'Bee Gees', 'COUNTRY': 'UK', 'COMPANY': 'Polydor', 'PRICE': '10.90', 'YEAR': '1998'}, {'TITLE': 'Sylvias Mother', 'ARTIST': 'Dr.Hook', 'COUNTRY': 'UK', 'COMPANY': 'CBS', 'PRICE': '8.10', 'YEAR': '1973'}, {'TITLE': 'Maggie May', 'ARTIST': 'Rod Stewart', 'COUNTRY': 'UK', 'COMPANY': 'Pickwick', 'PRICE': '8.50', 'YEAR': '1990'}, {'TITLE': 'Romanza', 'ARTIST': 'Andrea Bocelli', 'COUNTRY': 'EU', 'COMPANY': 'Polydor', 'PRICE': '10.80', 'YEAR': '1996'}, {'TITLE': 'When a man loves a woman', 'ARTIST': 'Percy Sledge', 'COUNTRY': 'USA', 'COMPANY': 'Atlantic', 'PRICE': '8.70', 'YEAR': '1987'}, {'TITLE': 'Black angel', 'ARTIST': 'Savage Rose', 'COUNTRY': 'EU', 'COMPANY': 'Mega', 'PRICE': '10.90', 'YEAR': '1995'}, {'TITLE': '1999 Grammy Nominees', 'ARTIST': 'Many', 'COUNTRY': 'USA', 'COMPANY': 'Grammy', 'PRICE': '10.20', 'YEAR': '1999'}, {'TITLE': 'For the good times', 'ARTIST': 'Kenny Rogers', 'COUNTRY': 'UK', 'COMPANY': 'Mucik Master', 'PRICE': '8.70', 'YEAR': '1995'}, {'TITLE': 'Big Willie style', 'ARTIST': 'Will Smith', 'COUNTRY': 'USA', 'COMPANY': 'Columbia', 'PRICE': '9.90', 'YEAR': '1997'}, {'TITLE': 'Tupelo Honey', 'ARTIST': 'Van Morrison', 'COUNTRY': 'UK', 'COMPANY': 'Polydor', 'PRICE': '8.20', 'YEAR': '1971'}, {'TITLE': 'Soulsville', 'ARTIST': 'Jorn Hoel', 'COUNTRY': 'Norway', 'COMPANY': 'WEA', 'PRICE': '7.90', 'YEAR': '1996'}, {'TITLE': 'The very best of', 'ARTIST': 'Cat Stevens', 'COUNTRY': 'UK', 'COMPANY': 'Island', 'PRICE': '8.90', 'YEAR': '1990'}, {'TITLE': 'Stop', 'ARTIST': 'Sam Brown', 'COUNTRY': 'UK', 'COMPANY': 'A and M', 'PRICE': '8.90', 'YEAR': '1988'}, {'TITLE': 'Bridge of Spies', 'ARTIST': "T'Pau", 'COUNTRY': 'UK', 'COMPANY': 'Siren', 'PRICE': '7.90', 'YEAR': '1987'}, {'TITLE': 'Private Dancer', 'ARTIST': 'Tina Turner', 'COUNTRY': 'UK', 'COMPANY': 'Capitol', 'PRICE': '8.90', 'YEAR': '1983'}, {'TITLE': 'Midt om natten', 'ARTIST': 'Kim Larsen', 'COUNTRY': 'EU', 'COMPANY': 'Medley', 'PRICE': '7.80', 'YEAR': '1983'}, {'TITLE': 'Pavarotti Gala Concert', 'ARTIST': 'Luciano Pavarotti', 'COUNTRY': 'UK', 'COMPANY': 'DECCA', 'PRICE': '9.90', 'YEAR': '1991'}, {'TITLE': 'The dock of the bay', 'ARTIST': 'Otis Redding', 'COUNTRY': 'USA', 'COMPANY': 'Stax Records', 'PRICE': '7.90', 'YEAR': '1968'}, {'TITLE': 'Picture book', 'ARTIST': 'Simply Red', 'COUNTRY': 'EU', 'COMPANY': 'Elektra', 'PRICE': '7.20', 'YEAR': '1985'}, {'TITLE': 'Red', 'ARTIST': 'The Communards', 'COUNTRY': 'UK', 'COMPANY': 'London', 'PRICE': '7.80', 'YEAR': '1987'}, {'TITLE': 'Unchain my heart', 'ARTIST': 'Joe Cocker', 'COUNTRY': 'USA', 'COMPANY': 'EMI', 'PRICE': '8.20', 'YEAR': '1987'}]

In [165]:
import pandas as pd

In [170]:
df = pd.read_xml("https://www.w3schools.com/xml/cd_catalog.xml")

In [174]:
df.to_csv("cd1.csv",index=False)

In [172]:
df.to_excel("cd1.xlsx")

In [173]:
df.to_json("cd1.json")

In [175]:
help(df.to_json)

Help on method to_json in module pandas.core.generic:

to_json(path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None, *, orient: "Literal['split', 'records', 'index', 'table', 'columns', 'values'] | None" = None, date_format: 'str | None' = None, double_precision: 'int' = 10, force_ascii: 'bool_t' = True, date_unit: 'TimeUnit' = 'ms', default_handler: 'Callable[[Any], JSONSerializable] | None' = None, lines: 'bool_t' = False, compression: 'CompressionOptions' = 'infer', index: 'bool_t | None' = None, indent: 'int | None' = None, storage_options: 'StorageOptions | None' = None, mode: "Literal['a', 'w']" = 'w') -> 'str | None' method of pandas.core.frame.DataFrame instance
    Convert the object to a JSON string.

    Note NaN's and None will be converted to null and datetime objects
    will be converted to UNIX timestamps.

    Parameters
    ----------
    path_or_buf : str, path object, file-like object, or None, default None
        String, path object (implementing os.PathLike[str]), or file-like
        object implementing a write() function. If None, the result is
        returned as a string.
    orient : str
        Indication of expected JSON string format.

        * Series:

            - default is 'index'
            - allowed values are: {'split', 'records', 'index', 'table'}.

        * DataFrame:

            - default is 'columns'
            - allowed values are: {'split', 'records', 'index', 'columns',
              'values', 'table'}.

        * The format of the JSON string:

            - 'split' : dict like {'index' -> [index], 'columns' -> [columns],
              'data' -> [values]}
            - 'records' : list like [{column -> value}, ... , {column -> value}]
            - 'index' : dict like {index -> {column -> value}}
            - 'columns' : dict like {column -> {index -> value}}
            - 'values' : just the values array
            - 'table' : dict like {'schema': {schema}, 'data': {data}}

            Describing the data, where data component is like ``orient='records'``.

    date_format : {None, 'epoch', 'iso'}
        Type of date conversion. 'epoch' = epoch milliseconds,
        'iso' = ISO8601. The default depends on the `orient`. For
        ``orient='table'``, the default is 'iso'. For all other orients,
        the default is 'epoch'.
    double_precision : int, default 10
        The number of decimal places to use when encoding
        floating point values. The possible maximal value is 15.
        Passing double_precision greater than 15 will raise a ValueError.
    force_ascii : bool, default True
        Force encoded string to be ASCII.
    date_unit : str, default 'ms' (milliseconds)
        The time unit to encode to, governs timestamp and ISO8601
        precision.  One of 's', 'ms', 'us', 'ns' for second, millisecond,
        microsecond, and nanosecond respectively.
    default_handler : callable, default None
        Handler to call if object cannot otherwise be converted to a
        suitable format for JSON. Should receive a single argument which is
        the object to convert and return a serialisable object.
    lines : bool, default False
        If 'orient' is 'records' write out line-delimited json format. Will
        throw ValueError if incorrect 'orient' since others are not
        list-like.
    compression : str or dict, default 'infer'
        For on-the-fly compression of the output data. If 'infer' and 'path_or_buf' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        Set to ``None`` for no compression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'xz'``, ``'tar'``} and
        other key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdCompressor``, ``lzma.LZMAFile`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for faster compression and to create
        a reproducible gzip archive:
        ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    index : bool or None, default None
        The index is only used when 'orient' is 'split', 'index', 'column',
        or 'table'. Of these, 'index' and 'column' do not support
        `index=False`.

    indent : int, optional
       Length of whitespace used to indent each record.

    storage_options : dict, optional
        Extra options that make sense for a particular storage connection, e.g.
        host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
        are forwarded to ``urllib.request.Request`` as header options. For other
        URLs (e.g. starting with "s3://", and "gcs://") the key-value pairs are
        forwarded to ``fsspec.open``. Please see ``fsspec`` and ``urllib`` for more
        details, and for more examples on storage options refer `here
        <https://pandas.pydata.org/docs/user_guide/io.html?
        highlight=storage_options#reading-writing-remote-files>`_.

    mode : str, default 'w' (writing)
        Specify the IO mode for output when supplying a path_or_buf.
        Accepted args are 'w' (writing) and 'a' (append) only.
        mode='a' is only supported when lines is True and orient is 'records'.

    Returns
    -------
    None or str
        If path_or_buf is None, returns the resulting json format as a
        string. Otherwise returns None.

    See Also
    --------
    read_json : Convert a JSON string to pandas object.

    Notes
    -----
    The behavior of ``indent=0`` varies from the stdlib, which does not
    indent the output but does insert newlines. Currently, ``indent=0``
    and the default ``indent=None`` are equivalent in pandas, though this
    may change in a future release.

    ``orient='table'`` contains a 'pandas_version' field under 'schema'.
    This stores the version of `pandas` used in the latest revision of the
    schema.

    Examples
    --------
    >>> from json import loads, dumps
    >>> df = pd.DataFrame(
    ...     [["a", "b"], ["c", "d"]],
    ...     index=["row 1", "row 2"],
    ...     columns=["col 1", "col 2"],
    ... )

    >>> result = df.to_json(orient="split")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "columns": [
            "col 1",
            "col 2"
        ],
        "index": [
            "row 1",
            "row 2"
        ],
        "data": [
            [
                "a",
                "b"
            ],
            [
                "c",
                "d"
            ]
        ]
    }

    Encoding/decoding a Dataframe using ``'records'`` formatted JSON.
    Note that index labels are not preserved with this encoding.

    >>> result = df.to_json(orient="records")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    [
        {
            "col 1": "a",
            "col 2": "b"
        },
        {
            "col 1": "c",
            "col 2": "d"
        }
    ]

    Encoding/decoding a Dataframe using ``'index'`` formatted JSON:

    >>> result = df.to_json(orient="index")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "row 1": {
            "col 1": "a",
            "col 2": "b"
        },
        "row 2": {
            "col 1": "c",
            "col 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'columns'`` formatted JSON:

    >>> result = df.to_json(orient="columns")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "col 1": {
            "row 1": "a",
            "row 2": "c"
        },
        "col 2": {
            "row 1": "b",
            "row 2": "d"
        }
    }

    Encoding/decoding a Dataframe using ``'values'`` formatted JSON:

    >>> result = df.to_json(orient="values")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    [
        [
            "a",
            "b"
        ],
        [
            "c",
            "d"
        ]
    ]

    Encoding with Table Schema:

    >>> result = df.to_json(orient="table")
    >>> parsed = loads(result)
    >>> dumps(parsed, indent=4)  # doctest: +SKIP
    {
        "schema": {
            "fields": [
                {
                    "name": "index",
                    "type": "string"
                },
                {
                    "name": "col 1",
                    "type": "string"
                },
                {
                    "name": "col 2",
                    "type": "string"
                }
            ],
            "primaryKey": [
                "index"
            ],
            "pandas_version": "1.4.0"
        },
        "data": [
            {
                "index": "row 1",
                "col 1": "a",
                "col 2": "b"
            },
            {
                "index": "row 2",
                "col 1": "c",
                "col 2": "d"
            }
        ]
    }

In [176]:
df.to_html("sample.html")

In [177]:
df1 = pd.read_html("sample.html")

In [178]:
df1

[    Unnamed: 0                     TITLE             ARTIST COUNTRY  \
 0            0          Empire Burlesque          Bob Dylan     USA
 1            1           Hide your heart       Bonnie Tyler      UK
 2            2             Greatest Hits       Dolly Parton     USA
 3            3       Still got the blues         Gary Moore      UK
 4            4                      Eros    Eros Ramazzotti      EU
 5            5            One night only           Bee Gees      UK
 6            6            Sylvias Mother            Dr.Hook      UK
 7            7                Maggie May        Rod Stewart      UK
 8            8                   Romanza     Andrea Bocelli      EU
 9            9  When a man loves a woman       Percy Sledge     USA
 10          10               Black angel        Savage Rose      EU
 11          11      1999 Grammy Nominees               Many     USA
 12          12        For the good times       Kenny Rogers      UK
 13          13          Big Willie style         Will Smith     USA
 14          14              Tupelo Honey       Van Morrison      UK
 15          15                Soulsville          Jorn Hoel  Norway
 16          16          The very best of        Cat Stevens      UK
 17          17                      Stop          Sam Brown      UK
 18          18           Bridge of Spies              T'Pau      UK
 19          19            Private Dancer        Tina Turner      UK
 20          20            Midt om natten         Kim Larsen      EU
 21          21    Pavarotti Gala Concert  Luciano Pavarotti      UK
 22          22       The dock of the bay       Otis Redding     USA
 23          23              Picture book         Simply Red      EU
 24          24                       Red     The Communards      UK
 25          25          Unchain my heart         Joe Cocker     USA

            COMPANY  PRICE  YEAR
 0         Columbia   10.9  1985
 1      CBS Records    9.9  1988
 2              RCA    9.9  1982
 3   Virgin records   10.2  1990
 4              BMG    9.9  1997
 5          Polydor   10.9  1998
 6              CBS    8.1  1973
 7         Pickwick    8.5  1990
 8          Polydor   10.8  1996
 9         Atlantic    8.7  1987
 10            Mega   10.9  1995
 11          Grammy   10.2  1999
 12    Mucik Master    8.7  1995
 13        Columbia    9.9  1997
 14         Polydor    8.2  1971
 15             WEA    7.9  1996
 16          Island    8.9  1990
 17         A and M    8.9  1988
 18           Siren    7.9  1987
 19         Capitol    8.9  1983
 20          Medley    7.8  1983
 21           DECCA    9.9  1991
 22    Stax Records    7.9  1968
 23         Elektra    7.2  1985
 24          London    7.8  1987
 25             EMI    8.2  1987  ]

In [179]:
import pandas as pd

In [180]:
class Converter:
  def __init__(self,filepath):
    self.filepath=filepath
  def exportToHtml(self,htmlPath):
    self.df.to_html(htmlPath)
  def exportToJson(self,jsonPath):
    self.df.to_json(jsonPath)
  def exportToExcel(self,excelPath):
    self.df.to_excel(excelPath)
  def readFromCsv(self):
    self.df =pd.read_csv(self.filepath)
  def readFromXml(self):
    self.df=pd.read_xml(self.filepath)
  def readFromExcel(self):
    self.df=pd.read_excel(self.filepath)

In [181]:
converter=Converter("https://www.w3schools.com/xml/cd_catalog.xml")

In [182]:
converter.readFromXml()

In [183]:
converter.exportToHtml("cd.html")

In [184]:
csvConverter=Converter("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

In [185]:
csvConverter.readFromCsv()

In [186]:
csvConverter.exportToJson("iris.json")

In [187]:
def outer1(param1):
  print("outer function")
  def inner1():
    print("inner function")
    print("Before calling param1")
    param1()
    return True
  return inner1

In [188]:
def hello():
  print("hello")
def welcome():
  print("welcome")

In [189]:
hello_outer=outer1(hello)

outer function

In [190]:
hello_outer()

inner function
Before calling param1
hello

True

In [191]:
welcome_outer=outer1(welcome)

outer function

In [192]:
welcome_outer()

inner function
Before calling param1
welcome

True

In [193]:
def multiple(param1,param2):
  def inner():
    param1()
    param2()
  return inner

In [194]:
m =multiple(hello,welcome)

In [195]:
m()

hello
welcome